.text1 {
  color: #31373D;
  font-family: AktivGroteskW01-Bold;
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
}
.text2 {
  color: #31373D;
  font-family: AktivGrotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.cta-box1 {
  background-color: #0099FF;
  border-radius: 3px;
  width: 220px;
  height: 48px;
}
.cta-box2 {
  border: 2px solid #0099FF;
  border-radius: 3px;
  width: 220px;
  height: 48px;
}
.cta-text1 {
  color: #FFFFFF;
  font-family: AktivGroteskW01-Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}
.cta-text2 {
  color: #31373D;
  font-family: AktivGroteskW01-Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}
.globimg {
    background-color: #E8E8E8;
    float: center;
}