.compare-pricing-toda {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }
  .lorem-ipsum-is-simpl {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  a {
      color:#0099FF;
      text-decoration: none;
  }
  .rectangle {
    background-color: #FFFFFF;
    cursor:pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 70px;
    height: 46px;
    margin: 2px;
  }


  .serving {
    align-items:center;
    color: #4A4A4A;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
  }
  .toogle {
  background-color: #D8D8D8;
  border-radius: 7px;
  opacity: 0.6388346354166666;
  width: 44px;
  height: 14px;
  }

  .oval {
    background-color: #0099FF;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    float:right;
    cursor:pointer;
    
  }
  .annual {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 72px;
    text-align: left;
  }
  .off {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 60px;
    text-align: left;
  }
  .monthly {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 83px;
    text-align: left;
  }

  .big-box {
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(113, 100, 100, 0.3);
    width: 476px;
    height: 200px;
  }
  .small-box {
    background-color: #FFFFFF;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
    width: 214px;
    height: 230px;
  }
  .your-savings-with-lo {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }
  .money {
    color: #0099FF;
    font-family: AktivGrotesk;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }
  .money1 {
    color: #3D3C31;
    font-family: AktivGrotesk;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }
  .month {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    width: 78px;
    text-align: left;
  }
  .month1 {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 156px;
    text-align: left;
  }