<div class="row mt-4">
  <div class="col-sm-6">

    <h1 class="text1">
            Loved by users,<br/>
        recommended by experts
    </h1>

    <h4 class="text2">
        Lorem Ipsum is simply dummy text of the printing<br/>
       and typesetting industry. Lorem Ipsum has been the<br/>
        industry's standard dummy text ever since the<br/>
         1500s
    </h4>


    <div class="row px-2">
      <div class="col-md-5 cta-box1 ml-2 mt-3">
        <div class="cta-text1 mt-3">Primary CTA</div>
      </div>

    </div>
  </div>
  
  <div class="col-sm-6 text-center mt-3">
    <img class="globimg" src="../assets/img/Group 4/png/Group 4.png" />
  </div>



</div>
