  .box {
    background-image: linear-gradient(44.59deg, #D5E2E9 0%, #EAEEF1 100%);
    max-width: 100%;
    height: 409px;
  }
  .this-is-a-heading-in {
    color: #31373D;
    font-family: AktivGroteskW01-Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }