<div class="row box mt-5">
  <div class="col-md mt-3">
    <div class="d-flex justify-content-center">
        <h2 class="this-is-a-heading-in">This is a heading in<br/>
          two lines</h2>
    </div>
    <div class="d-flex justify-content-center ">
        <img class="img-fluid" src="../../assets/img/Group 6/png/Group 6.png"/>
    </div>
  </div>
</div>
<div class="row mt-5 mb-5"></div>
<div class="row mt-5 mb-5"></div>
<div class="row mt-5 mb-5"></div>
<div class="row mt-5 mb-5"></div>
<div class="row mt-5 mb-5"></div>
